---
import { getCollection, getEntry } from 'astro:content';
import { Image } from "astro:assets";
import { faWeixin } from '@fortawesome/free-brands-svg-icons';

import BaseLayout from "@layouts/BaseLayout.astro";
import Fa from 'svelte-fa';
// import Meta from '@lib/components/Meta.svelte'
import Share from '@lib/components/Share.svelte';

import { getLangFromUrl, useTranslations } from '@content/i18n/utils';
const lang = getLangFromUrl(Astro.url)

export async function getStaticPaths() {
	const siteProjects = await getCollection('projects');
	return siteProjects.map(project => {
		const [lang, slug] = project.slug.split('/')
		return {
			params: { lang, slug: slug || undefined },
			props: { project }
		}
	});
}

const { slug } = await Astro.params
const project = await getEntry('projects', lang + "/" + slug);
const { Content } = await project.render()

const locale = {};
locale['en'] = {
	"contact_us": "Contact Us"
}
locale['nl'] = {
	"contact_us": "Contact"
}

// console.log('project', lang + "/" + slug, project || 'Naaaeeh')

---
<!-- <Meta {metadata}/> -->
<BaseLayout title={project?.data.title} image={project?.data.headerImage} description={project?.data.hook} pack={project?.data.pack} icon={project?.data.icon}>
	<!-- display the project -->
	<header class="bg-black landscape:flex">
		<figure class="image">
			<Image class="object-cover"
			src={(project.data.headerImage || project.data.image) }
			alt={project.data.imageAlt || "Primary African Energy"} width={1920} height={1080}/>
		</figure>
		<div class="card variant-filled-primary p-4">
				<h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter mb-4">
					{project.data.title}
				</h1>
				<p class="text-2xl lg:text-2xl xl:text-3xl lg:tracking-tight mb-4">
					{project.data.hook}
				</p>
				<a class="btn variant-filled-secondary btn-xl" title="Contact us!" href={"/" + lang + "/contact-us/"}>
					<Fa icon={faWeixin} />
					<span>{ locale[lang]['contact_us'] }</span>
				</a>
		</div>
	</header>

	<section class="section bg-slate-700 text-primary-400">
		<div class="container mx-auto">
			<div class="flex portrait:flex-col gap-8 p-8 portrait:p-4">
				<div class="landscape:w-3/5">
					<h2 class="marker text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter  !text-secondary-50">{project.data.title}</h2>
					{ project.data.subtitle &&
						<h3 class="marker text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter  !text-secondary-50">{project.data.subtitle}</h3>
					}
					<div class="mb-4 prose max-w-none prose-stone space-y-6 prose-table:table-auto prose-p:text-xl text-secondary-50">
						<Content />
					</div>
					<!-- <slot /> -->
					<a class="btn variant-filled-secondary" href={"/" + lang + "/contact-us/"} title="Contact Us">
						<span class="icon">
							<Fa icon={faWeixin} />
						</span>
						<span>{ locale[lang]['contact_us'] }</span>
					</a>
				</div>
				<div class="landscape:w-2/5">
					<figure class="image">
						<Image
						src={project.data.image}
						alt={project.data.imageAlt || "Primary African Energy"} width={1920} height={1080} />
					</figure>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
