---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations, getLangFromId } from '~content/i18n/utils';
import { Icon } from 'astro-icon'
import LanguagePicker from '~components/ui/LanguagePicker.astro';

const pageList = await getCollection('pages');
const projectList = await getCollection('projects');
const {direction = "vertical", size = "h-8 w-8 p-1"} = Astro.props
const directionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex items-center"
const parentDirectionClass = direction == "vertical" ? "flex flex-col items-center text-center" : "flex-flex-col items-center"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<div class={parentDirectionClass + " bg-secondary-600 w-full"}>
    <div class={"flex flex-row h-20 justify-evenly items-center bg-secondary-600 w-full"}>
        <a href="/" alt="Let's GO Back Home"><div class="drop-shadow-lg hexagon hexagon-small"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div></a>
        <LanguagePicker />
    </div>

    <div class={parentDirectionClass + " bg-secondary-600 w-full helper-show" }>
        {pageList && pageList.filter(page => page.data?.status == 'published' && !page.data?.parent && getLangFromId(page) == lang && page.data?.category == "about artkids").map(page => (
            <a href={"/" + page.slug} class={"btn variant-filled-secondary marker w-full rounded-none justify-start pl-2 " + page.slug.split('/')[0]}>
                <span class="flex flex-row justify-start items-center text-md">
                    <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
                    { page.data?.shortTitle ?
                    <span>
                        {page.data.shortTitle}
                    </span>
                    :
                    <span>
                        {page.data.title}
                    </span>
                    }
                </span>
            </a>
            ))}
        </div>
    </div>
</div>

<div class={parentDirectionClass + " bg-secondary-600 w-full"}>

            {projectList && projectList.filter(project => getLangFromId(project) == lang).map(project => (
                <a href={"/" + project.slug.split('/')[0] + "/projects/" + project.slug.split('/')[1]} class={"btn h-16 py-4 variant-filled-secondary w-full rounded-none justify-start pl-2 " + project.slug.split('/')[0]}>
                    <span class="flex flex-row justify-start items-center text-lg marker">
                        <Icon pack={project.data.pack || "teenyicons"} name={project.data.icon || "anchor-solid"} class={size + " mr-2"} />
                        { project.data?.shortTitle ?
                        <span>
                            {project.data.shortTitle}
                        </span>
                        :
                        <span>
                            {project.data.title}
                        </span>
                        }
                    </span>
                </a>
            ))}
</div>


{pageList && pageList.filter(page => page.data.status == "published" && !page.data.category && getLangFromId(page) == lang).map(page => (
    <a href={"/" + page.slug} class={"btn variant-filled-secondary w-full rounded-none py-4 " + page.slug.split('/')[0]}>
        <span class={directionClass}>
            <Icon pack={page.data.pack || "teenyicons"} name={page.data.icon || "anchor-solid"} class={size} />
            { page.data?.shortTitle ?
            <span>
                {page.data.shortTitle}
            </span>
            :
            <span>
                {page.data.title}
            </span>
            }
        </span>
    </a>
))}
</div>

<style lang="scss" is:global>
    html.nl a.en,
    html.en a.nl {
        display: none;
    }

    .helper-trigger,
    .helper-show {
        transition: all 0.25s ease-in-out;
        height: 0 !important;
        display: flex;
        overflow: hidden !important;

        & > a {
            transition: all 0.25s ease-in-out;
            transform: translateX(-100%) !important;
        }
    }
    .helper-trigger[type="radio"]:checked {
        & + .dropdown {
            & .helper-show {
                height: auto !important;

                & > a {
                    transform: translateX(0) !important;
                }
            }
            & .helper-enable {
                filter: saturate(1.25);
                filter: brightness(1.5);
            }
        }
    }
</style>
