---
import Icon from "astro-icon";
import { getCollection } from 'astro:content'
import { getLangFromId, getLangFromUrl, useTranslations } from '~content/i18n/utils';

// 1. Get the slug from the incoming server request
const { frontmatter, headings } = Astro.props;
const { pack, icon, title, subtitle } = Astro.props.page?.data || frontmatter;

const projectList = await getCollection('projects');

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<section class="bg-cover bg-center w-full" style="background-image: url('https://source.unsplash.com/random?galaxies');">
	<div class="bg-white/90 dark:bg-black/75 p-8 pt-16">
		<div class="container mx-auto flex portrait:flex-col gap-8 mb-8">
			<div class="landscape:md:w-2/5 landscape:sm:2/5 landscape:xl:w-1/4 landscape:sticky landscape:top-4 landscape:self-start space-y-6 portrait:w-full portrait:pb-8 portrait:border-b portrait:border-secondary-600-300-token">
				<h2 class="landscape:hidden marker text-red-500 mb-8 unstyled drop-shadow landscape:text-4xl portrait:text-3xl font-bold">
					<span class="flex items-center justify-start">
						<Icon pack={pack || "teenyicons"} name={icon || "anchor-solid"} class={"h-10 w-10 lg:h-12 lg:w-12 portrait:h-10 portrait:w-10 mr-2"} />
						<span>
							{title}
						</span>
					</span>
				</h2>

				<div id="toc-target" class="prose max-w-none prose-stone space-y-6 prose-table:table-auto prose-p:text-lg prose-p:text-secondary-800-100-token prose-headings:text-secondary-800-100-token">
					<slot />
				</div>

			</div>
			<div class="landscape:sm:w-3/5 landscape:md:w-3/5 landscape:xl:w-3/4 ">
				<div class="portrait:hidden">
					{subtitle &&
						<h3 class="text-red-600 unstyled drop-shadow text-lg font-bold" >{subtitle}</h3>
					}
					<h2 class="marker text-secondary-600 mb-8 unstyled drop-shadow landscape:text-4xl portrait:text-3xl font-bold" >
						<span class="flex items-center justify-start">
							<Icon pack={pack || "teenyicons"} name={icon || "anchor-solid"} class={"h-10 w-10 lg:h-12 lg:w-12 portrait:h-10 portrait:w-10 mr-2"} />
							<span>
								{title}
							</span>
						</span>
					</h2>
				</div>

				<div class={"grid grid-cols-2 gap-8 w-full" }>
					{projectList && projectList.filter(project => getLangFromId(project) == lang).map(project => (
						<div class={"card card-hover rounded-xl " + project.slug.split('/')[0]}>
							<header class="card-header">
								<h4 class=" flex flex-row justify-start items-center text-md mb-3">
								<Icon pack={project.data.pack || "teenyicons"} name={project.data.icon || "anchor-solid"} class={"h-6 w-6 mr-2"} />
								{ project.data?.shortTitle ?
								<span>
									{project.data.shortTitle}
								</span>
								:
								<span>
									{project.data.title}
								</span>
								}
								</h4>
							</header>
							<section>
								<figure class="aspect-video overflow-hidden">
									<img src={project.data.image} class="bg-black/50 w-full object-fill" alt="Post">
								</figure>
								</section>
							<footer class="card-footer text-center p-4"><a href={"/" + project.slug.split('/')[0] + "/projects/" + project.slug.split('/')[1]} class="btn variant-filled-secondary rounded-full"> Read more...</a></footer>
						</div>
					))}
				</div>
			</div>
		</div>
	</div>
</section>

<style is:global>
	#toc-target a.permalink {
		display:none;
	}
</style>